bin/
bin-int/
obj/
build/

DotNet/
Binaries/
Intermediates/

x64/
x32/
out/

.vs/
.vscode/

**.sln
**.vcxproj
**.vcxproj.filters
**.vcxproj.user
**.csproj

*.log
Strype-ScriptCore/coral-src
Strype/master/Strype-Runtime.exe
Strype-Editor/assets/ScriptCore
