[submodule "Libraries/yaml-cpp"]
	path = Libraries/yaml-cpp
	url = https://github.com/jbeder/yaml-cpp
[submodule "Libraries/imgui"]
	path = Libraries/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "Libraries/Coral"]
	path = Libraries/Coral
	url = https://github.com/JackKnox/Coral
[submodule "Libraries/spdlog"]
	path = Libraries/spdlog
	url = https://github.com/gabime/spdlog
[submodule "Libraries/magic_enum"]
	path = Libraries/magic_enum
	url = https://github.com/Neargye/magic_enum
